body {
    height: 100vh;
    width: 100vw;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #252535;
    width: 375px;
    height: 675px;
    border-radius: 20px;
    border: solid 5px black;
}

.screen {
    width: 100%;
    height: 20%;
    background-color: black;
    border: solid 2px white;
    border-radius: 20px;
}

.screen-numbers {
    text-align: center;
    color: white;
    font-size: 45px;
    margin-top: 11%;
}

.button-container {
    margin-top: 75px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
button:hover {
    background-color: green;
}